.rock-overwrite-defaults .rock__control,
.rock-overwrite-defaults .select__control {
    border-color: inherit;
}

.rock-overwrite-defaults .rock__control:hover,
.rock-overwrite-defaults .select__control:hover {
    border-color: #CBD2E0;
}

.rock-overwrite-defaults .rock__control.rock__control--is-focused,
.rock-overwrite-defaults .select__control.select__control--is-focused {
    border-color: #225ED8;
    box-shadow: 0 0 0 1px #225ED8;
}

.rock-overwrite-defaults .rock__placeholder,
.rock-overwrite-defaults .select__placeholder {
    color: #777;
}

.rock-overwrite-defaults .rock__value-container,
.rock-overwrite-defaults .select__value-container {
    padding-left: 1rem;
}

.rock-overwrite-defaults .rock__indicators,
.rock-overwrite-defaults .select__indicators {
    padding-right: 12px;
}
